html, body {
  height: 100%;
  margin: 0;
  font-family: 'Stylish', sans-serif;
  background-color: #9BA887;
}

.hero {
  margin-top: 80px;
  padding: 30px;
  width: 100vw;
  height: 75%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('images/hero-img.jpeg');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #9BA887;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: #693015;
    text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #693015;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #693015;
  text-decoration: underline;
}

.hero h1 {
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 8px;
    text-shadow: 1px 1px #000000;
}

#poems-body {
  text-align: center;
  padding: 15px;
}

p {
  color: #533C2D;
  font-size: 18px;
}

h1, h2 {
  margin: 20px;
  padding: 10px;
  color: #693015;
}

strong {
  color: #efd6b8;
}

table {
  width: 100%;
}

th {
  text-align: center;
  font-size: 18px;
  color: #693015;
}

td {
  text-align: center;
  font-size: 18px;
  color: #533C2D;
}

#copyright {
  font-size: 12px;
  text-align: center;
}
